files:
  "/etc/nginx/conf.d/orbital.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream orbital {
        server 127.0.0.1:3001;
      }

      server {
        listen 80;

        location / {
          proxy_pass http://orbital;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
      }

container_commands:
  01_reload_nginx:
    command: "service nginx reload"